<?xml version="1.0"?>

<launch>
    <!-- Launch file parameters -->
    <arg name="wheel_separation" default="0.158" /> <!-- unit: meter -->
    <arg name="wheel_radius"     default="0.032" /> <!-- unit: meter -->
    <arg name="output"           default="log" /> 
    <!-- arg name="output"           default="screen" /--> 

    <!-- Boot up all components -->
    <include file="$(find nuko_minibot)/launch/MiniBot_Drivers.launch">
        <arg name="wheel_separation" value="$(arg wheel_separation)" /> 
        <arg name="wheel_radius"     value="$(arg wheel_radius)" />
    </include>

    <!-- Listener -->
    <node name="main" pkg="nuko_minibot" type="main"  output="screen">
    </node>


</launch>
